<section id="searchInput">
  <div class="row justify-content-center">
    <div class="col-8 col-md-6 mt-4">
      <%= form_with(url: search_path, method: :get, local: true, class: 'd-flex align-items-center position-relative me-3', id: "formSearch") do |f| %>
        <%= f.label :query, class: 'visually-hidden' %>
        <%= f.text_field :query, placeholder: "Search a user or a post by its location...", value: params[:query], class: "form-control", id: "inputSearch" %>
        <button type="submit" class="btn position-absolute" id="iconSearch">
          <i class="bi bi-search"></i>
        </button>
      <% end %>
    </div>
  </div>
</section>

<section id="elementsFoundSearch">
  <% if params[:query].present? %>

    <% if @users.blank? %>
      <div class="row">
        <div class="borderRow mt-5">
          <div class="col-12">
            <p class="text-center">No users found</p>
          </div>
        </div>
      </div>

    <% else %>
      <div class="row">
        <div class="col-12">
          <p class="mt-5 mb-0 countFound">Users: (<%= @users.count %>)</p>
        </div>
        <div class="containerUserFound mt-5 d-flex">
          <% @users.each do |user| %>
            <div class="col-4 col-md-3">
              <%= link_to profile_path(user) do %>
                <div class="d-flex align-items-center flex-column">
                  <div class="roundedCircleContainer rounded-circle">
                    <%= image_tag(user.profile_picture, class:"imgProfile") %>
                  </div>
                  <div class="userFoundDetails mt-2">
                    <p class="m-0 text-center"><%= user.pseudo %></p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <section id="postsFoundSearch" class="mb-5">
      <% if @posts.blank? %>

        <div class="row">
          <div class="mt-5">
            <div class="col-12">
              <p class="text-center m-0">No posts found</p>
            </div>
          </div>
        </div>

      <% else %>

        <div class="row">
          <div class="col-12">
            <p class="mt-5 mb-0 countFound">Posts: (<%= @posts.count %>)</p>
          </div>
        </div>
        <div class="row">
          <% @posts.each do |post| %>
            <div class="col-12 col-md-6">
              <%= link_to post_path(post) do %>
                <div class="card">
                  <div class="card-header d-flex align-items-center">
                    <div class="roundedCircleContainer rounded-circle me-3">
                      <%= image_tag(post.user.profile_picture, class:"imgProfile") %>
                    </div>
                    <div class="position-relative">
                      <p class="m-0"><%= post.user.pseudo %></p>
                      <p class="m-0 cityPost position-absolute"><%= post.city %></p>
                    </div>
                  </div>
                  <div class="card-body position-relative">
                    <% if post.images.attached? %>
                      <%= image_tag(post.images.first, alt: "Post Image", class: "img-fluid") %>
                    <% end %>
                  </div>
                  <% if post.images.size > 1 %>
                    <i class="fa-solid fa-images position-absolute"></i>
                  <% end %>
                </div>
              <% end %>

            </div>
          <% end %>
        </div>

      <% end %>
    </section>

  <% end %>
</section>
