
<% if devise_page? %>
  <header id="notSignedIn">
  <nav class="navbar py-3 ">
    <div class="container">
      <div class="col-2">
         <%= link_to root_path, class: "navbar-brand me-0" do %>
          <%= image_tag "sharex-color.svg", alt: "alttext", class: "logo" %>
        <% end %>
      </div>
      <div class="col-8">
        <p class="logoName w-100 text-center m-0">ShareSpace</p>
      </div>
      <div class="col-2 text-end">
        <%= link_to root_path, class:"btnPost" do %>
          <i class="bi bi-plus-square"></i>
        <% end %>
      </div>
    </div>
  </nav>
</header>

<% else %>
  <header>
    <nav class="navbar py-3 ">
      <div class="container">
        <div class="col-2">
          <%= link_to root_path, class: "navbar-brand me-0" do %>
            <%= image_tag "sharex-color.svg", alt: "alttext", class: "logo" %>
          <% end %>
        </div>
        <div class="col-8">
          <p class="d-md-none m-0 logoName w-100 text-center">ShareSpace</p>
          <div class="nav-item d-none d-md-flex divNavigation w-100">
            <ul class="navbar-nav d-flex align-items-center justify-content-around flex-row w-100">
              <li class="nav-item ">
                <%= link_to root_path, class:"d-flex align-items-center justify-content-center flex-column #{current_page?(root_path) ? "active" : ""}" do %>
                  <% if current_page?(root_path) %>
                    <i class="bi bi-house-fill"></i>
                  <% else %>
                    <i class="bi bi-house"></i>
                  <% end %>
                  <p class="m-0">Home</p>
                <% end %>
              </li>
              <li class="nav-item ">
                <%= link_to search_path, class:"d-flex align-items-center justify-content-center flex-column #{current_page?(root_path) ? "active" : ""}" do %>
                  <% if current_page?(search_path) %>
                    <i class="bi bi-search-heart-fill"></i>
                  <% else %>
                    <i class="bi bi-search"></i>
                  <% end %>
                  <p class="m-0">Search</p>
                <% end %>
              </li>
              <li class="nav-item ">
                <%= link_to root_path, class:"d-flex align-items-center justify-content-center flex-column #{current_page?(root_path) ? "active" : ""}" do %>
                  <% if current_page?(root_path) %>
                    <i class="bi bi-send-fill"></i>
                  <% else %>
                    <i class="bi bi-send"></i>
                  <% end %>
                  <p class="m-0">Messages</p>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to profile_path(current_user), class:"d-flex align-items-center justify-content-center flex-column #{current_page?(profile_path(current_user)) ? "active" : ""}" do %>
                  <div class="rounded-circle roundedCircleContainer navProfile">
                    <%= image_tag(current_user.profile_picture.present? ? current_user.profile_picture : "sharex-color.svg", alt: "Profile Picture", class: "imgProfile") %>
                  </div>
                  <p class="m-0">Profile</p>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-2 text-end">
          <%= link_to new_post_path, class:"btnPost" do %>
            <i class="bi bi-plus-square"></i>
          <% end %>
        </div>
      </div>
    </nav>
  </header>

  <nav class="searchNavMobile d-md-none shadow">
    <ul class="navbar-nav d-flex align-items-center flex-row justify-content-between py-3 px-5">
      <%= link_to root_path, class: "#{current_page?(root_path) ? "active" : ""}" do %>

        <% if current_page?(root_path) %>
          <i class="bi bi-house-fill"></i>
        <% else %>
          <i class="bi bi-house"></i>
        <% end %>
      <% end %>
      <%= link_to search_path, class: "#{current_page?(root_path) ? "active" : ""}" do %>
        <% if current_page?(search_path) %>
          <i class="bi bi-search-heart-fill"></i>
        <% else %>
          <i class="bi bi-search"></i>
        <% end %>
      <% end %>
      <%= link_to new_post_path, class: "#{current_page?(root_path) ? "active" : ""}" do %>
        <% if current_page?(new_post_path) %>
          <i class="bi bi-patch-plus-fill"></i>
        <% else %>
          <i class="bi bi-patch-plus"></i>
        <% end %>
      <% end %>
      <%= link_to root_path, class: "#{current_page?(root_path) ? "active" : ""}" do %>
        <% if current_page?(root_path) %>
          <i class="bi bi-send-fill"></i>
        <% else %>
          <i class="bi bi-send"></i>
        <% end %>

      <% end %>
      <%= link_to profile_path(current_user), class: "#{current_page?(profile_path(current_user)) ? "active" : ""}" do %>
        <div class="rounded-circle roundedCircleContainer navProfile mobile">
          <%= image_tag(current_user.profile_picture.present? ? current_user.profile_picture : "sharex-color.svg", alt: "Profile Picture", class: "imgProfile") %>
        </div>
      <% end %>
    </ul>
  </nav>
<% end %>
