<section class="postDetails">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-12">
        <div class="card mt-2 cardIndex">
          <div class="card-header py-4">
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <div class="roundedCircleContainer rounded-circle me-3">
                  <%= link_to profile_path(post.user) do %>
                    <%= image_tag(post.user.profile_picture, alt: "Profile Picture", class: "imgProfile") %>
                  <% end %>
                </div>
                <div class="position-relative">
                  <%= link_to profile_path(post.user) do %>
                    <p class="m-0"><%= post.user.pseudo %></p>
                  <% end %>
                  <p class="m-0 cityPost position-absolute"><%= post.city %></p>
                </div>
              </div>
            </div>
          </div>

          <div class="card-body p-0">
            <% if post.images.attached? %>
              <% if post.images.count > 1 %> <!-- Slider si plusieurs images -->
                <div id="carouselPostImages" class="carousel slide h-100" data-bs-ride="carousel">
                  <div class="carousel-inner h-100">
                    <% post.images.each_with_index do |image, index| %>
                      <div class="carousel-item <%= 'active' if index == 0 %> h-100">
                        <%= image_tag image, alt: "Post Image #{index + 1}", class: "d-block img-fluid" %>
                      </div>
                    <% end %>
                  </div>
                  <!-- Contrôles précédent/suivant -->
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselPostImages" data-bs-slide="prev">
                    <%# <span class="carousel-control-prev-icon" aria-hidden="true"></span> %>
                    <i class="bi bi-arrow-left-circle"></i>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselPostImages" data-bs-slide="next">
                    <%# <span class="carousel-control-next-icon" aria-hidden="true"></span> %>
                    <i class="bi bi-arrow-right-circle"></i>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              <% else %> <!-- Si une seule image -->
                <%= image_tag(post.images.first, alt: "Post Image", class: "img-fluid") %>
              <% end %>
            <% end %>
          </div>
          <div class="card-footer">
            <div class="d-flex">
              <% if post.liked_by?(current_user) %>
                <% like = post.likes.find_by(user: current_user) %>
                <%= button_to like_path(like), method: :delete, class: "btn favButton", data: { action: 'click->favourite#stopPropagation' } do %>
                  <i class="bi bi-heart-fill"></i>
                <% end %>
              <% else %>
                <%= button_to post_likes_path(post), method: :post, class: "btn favButton", data: { action: 'click->favourite#stopPropagation' } do %>
                  <i class="bi bi-heart"></i>
                <% end %>
              <% end %>
              <!-- Bouton pour ouvrir la modal comments -->
              <%= link_to "#", class: "btn", data: { bs_toggle: "modal", bs_target: "#commentsModal-#{post.id}" } do %>
                <i class="bi bi-chat-square-dots"></i>
              <% end %>
              <%= link_to post_path(post), class:"btn" do %>
                <i class="bi bi-box-arrow-in-up-right"></i>
              <% end %>
            </div>
            <div class="d-flex align-items-center">
              <%= link_to "#", data: {bs_toggle: "modal", bs_target: "#likesModal-#{post.id}"} do %>
                <p class="m-0"><%= pluralize(post.likes.count, "Like") %></p>
              <% end %>
              <i class="bi bi-dot"></i>
              <%= link_to "#", data: { bs_toggle: "modal", bs_target: "#commentsModal-#{post.id}" } do %>
                <p class="m-0"><%= pluralize(post.comments.count, "comment") %></p>
              <% end %>
            </div>
            <p class="m-0"><%= post.user.pseudo %></p>
            <div class="mt-3">
              <%= simple_format(post.content, class: "m-0") %>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-4 d-none d-md-block">

      <!-- Modal pour afficher les commentaires -->
      <div class="modal fade" id="commentsModal-<%= post.id %>" tabindex="-1" aria-labelledby="commentsModalLabel-<%= post.id %>" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content" id="modal">
            <div class="modal-header">
              <div class="roundedCircleContainer rounded-circle me-3">
                  <%= link_to profile_path(post.user) do %>
                    <%= image_tag(post.user.profile_picture, alt: "Profile Picture", class: "imgProfile") %>
                  <% end %>
              </div>
              <p class="m-0 userPseudo"><%= post.user.pseudo %></p>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body overflow-auto">
              <!-- User post text -->
              <div class="d-flex align-items-center mb-3">
                <div class="roundedCircleContainer rounded-circle me-3">
                  <%= link_to profile_path(post.user) do %>
                    <%= image_tag(post.user.profile_picture, alt: "Profile Picture", class: "imgProfile") %>
                  <% end %>
                </div>
                <p class="m-0 userPseudo"><%= post.user.pseudo %> (post creator)</p>
              </div>
              <%= simple_format(post.content, class:"commentContent m-0") %>
              <hr class="my-3">
              <!-- Boucle pour afficher les commentaires -->
              <% post.comments.each do |comment| %>
                <div class="d-flex align-items-center mb-3">
                  <div class="roundedCircleContainer rounded-circle me-3">
                    <%= link_to profile_path(comment.user) do %>
                      <%= image_tag(comment.user.profile_picture, alt: "Profile Picture", class: "imgProfile") %>
                    <% end %>
                  </div>
                  <p class="m-0 userPseudo"><%= comment.user.pseudo %></p>
                </div>
                <%= simple_format(comment.content, class:"commentContent m-0") %>
                <hr class="my-3">
              <% end %>
            </div>
            <!-- Formulaire pour ajouter un commentaire -->
            <!-- Modal footer -->
            <div class="modal-footer">
              <%= form_with(model: [post, Comment.new], local: true, html: { class: 'w-100' }) do |form| %>
                <div class="input-group">
                  <%= form.text_area :content, placeholder: "Add a comment...", class: "form-control", rows: 2 %>
                  <%= form.submit "Post", class: "btn" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>




      <!-- Modal pour afficher les likes -->
       <div class="modal fade" id="likesModal-<%= post.id %>" tabindex="-1" aria-labelledby="likesModalLabel-<%= post.id %>" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content" id="modal">
            <div class="modal-header">
              <h2>Likes</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body overflow-auto">
              <!-- Boucle pour afficher les commentaires -->
              <% post.likes.each do |like| %>
                <div class="d-flex align-items-center mb-3">
                  <%= link_to profile_path(like.user), class:"d-flex align-items-center" do %>
                    <div class="roundedCircleContainer rounded-circle me-3">
                      <%= image_tag(like.user.profile_picture, alt: "Profile Picture", class: "imgProfile") %>
                    </div>
                    <p class="m-0 userPseudo"><%= like.user.pseudo %></p>
                  <% end %>
                </div>
                <hr class="my-3">
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
